[submodule "Recipe.MVC"]
	path = Recipe.MVC
	url = https://github.com/urbluemn/Recipe.MVC
[submodule "RecipeBook.API"]
	path = RecipeBook.API
	url = https://github.com/urbluemn/RecipeBook.API
[submodule "Recipe.Identity"]
	path = Recipe.Identity
	url = https://github.com/urbluemn/Recipe.Identity
